/* Basic reset for styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  
  /* Style for the header */

  /* header section background containter design */
  .header {
    background-color: rgb(252, 252, 252); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border: 5px solid blue;
    
  }
  
  /* Logo text styling */
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(84, 84, 84); 
    border: 5px solid red;
  }

  /* logo img */
  .logo img{
    height: 70px;
    width: auto;
    
  }


  /* nav container */
  nav{
    min-height: 70px;
    width: min-content;
    display: flex;
    align-items: center;
    border: 5px solid red;
  }

  
  /* Navigation menu */
  .nav-menu {
    list-style: none;
    display: flex;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  /* Style for each navigation item */
  .nav-item {
    padding: 0 15px;
    width: 100%;
    text-align: center;
  }
  
  /* Style for navigation links */
  .nav-link {
    text-decoration: none;
    color: rgb(84, 84, 84); 
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  /* Hover effect for links */
  .nav-link:hover {
    color: #FFBE98; 
    
  }


  /* hamburger menu  need to fix it*/

/* gerneal styles for hambuger menu */
/* 
.hamburger-menu{
   
    display: none; 
    cursor: pointer;
  }

  .hamburger-menu .bar{
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
  } */



  /* Media Query to shoe the hamburger menu to smaller screens */
  /* @media screen and (max-width : 768px){
    .nav-menu{
      display: none;
    }


    .hamburger-menu{
      display: block;
      
    }


   

    .nav.active .nav-menu{
      display: block;
    }
    


    .nav.active .nav-item{
      display: block;
      width: 100%;
    }


    .nav.active .nav-link{
      display: block;
      width: 100%;
    }

  }
 */


















/* 

Main Content

*/


/* Styles for the main content */
main {
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh; /* Full height of the viewport */
    border: 5px solid brown;
  }


  aside {
    margin-right: auto; /* Pushes the aside to the left of the centered content */
    width: fit-content; /* Set the width of the aside */
    margin-left: 10%;
    font-family: Arial,  sans-serif;
    padding: 20px;
    color:rgb(84, 84, 84) ;
    text-align: left;
    margin: auto;
    border: 5px solid green;
    
  }

  .greeting{
   margin-bottom: 15px;
   margin-top: 15px;
  }


  .greeting span {
    background-color:rgb(84, 84, 84);
    color: white;
    padding: 8px 16px;
    border-radius: 18px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
  }


  aside h1 {
    font-size: 48px; /* Large text for 'Hello, I'm Justin' */
    margin-bottom: 0.3em; /* Spacing between 'Hello, I'm Justin' and 'UI/UX Designer' */
  }
  
  aside p {
    font-size: 24px; /* Smaller text for 'UI/UX Designer' */
    margin-bottom: 20px;
    font-weight: bold; /* If you want the 'UI/UX Designer' text to be bold */
  }




  /* button CSS */

  .btn {
    display: inline-block;
    background-color: rgb(84, 84, 84); /* Black background */
    color: #fff; /* White text */
    border: none; /* No border */
    padding: 12px 24px; /* Top and bottom padding 10px, left and right padding 20px */
    margin-right: 10px; /* Space between buttons */
    font-size: 1em; /* Adjust size as needed */
    font-weight: bold; /* Bold font */
    border-radius: 15px; /* Rounded corners */
    cursor: pointer; /* Cursor indicates a clickable element */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
  }
  
  .btn:hover {
    background-color: #FFBE98; /* Darker background on hover */
  }
  

  .button-container {
    display: flex;
    margin-left: -10px;
    align-items: flex-start; /* Aligns items to the start of the container, i.e., left side */
    /* Other styles */
  }


  /* content containter */

  .content-wrapper {
    border: 5px solid orange;
    display: flex;
    justify-content: space-between; /* Distributes space between the elements */
    align-items: center; /* Aligns items vertically */
    gap: 50px;
    
  }



.profile-container {
    border: 5px solid purple;  
    display: flex;
    justify-content: center;

}

.profile-pic {
    
    width: 60%;
    border: 3px solid rgb(84, 84, 84); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px; /* Rounded corners for the image */
    max-width: 60%; /* Ensures image is responsive and doesn't overflow */
    height: 100%; /* Maintains aspect ratio */
}

/* Update media query if needed */
@media screen and (max-width: 750px) {
    .content-wrapper {
      flex-direction: column; /* Stack the aside and image on smaller screens */
    }
  
    aside, .profile-container {
      flex-basis: auto; /* Reset the flex-basis for mobile */
      max-width: 100%; /* On smaller screens, each part takes full width */
    }
  
    /* Adjust the profile picture size for smaller screens if necessary */
    .profile-pic {
      width: 75%; /* For example, make the image slightly smaller on mobile */
      margin: 0 auto; /* Center the image within the space */
    }
  }




  /* Project Section */

  .container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 10px;

    grid-auto-flow: dense;

  }

  .gallery-item{
    width: 100%;
    height: 100%;
    position: relative;
  }

  .gallery-item .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .gallery-item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
  }

  .gallery-item:hover .image img{
    transform: scale(1.5);
  }

  .gallery-item .text{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
    pointer-events: none;
    z-index: 4;
    transition:  .3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8) ;

  }

  .gallery-item:hover .text{
    opacity: 1;
    animation: move-down .3s linear;
    padding: 1em;
    width: 100%;



  }

/* adjust the grid size of each img */

/* column */
.w-1{
  grid-column: span 1;
}
.w-2{
  grid-column: span 2;
}

.w-3{
  grid-column: span 3;
}

.w-4{
  grid-column: span 4;
}

.w-5{
  grid-column: span 5;
}

.w-6{
  grid-column: span 6;
}


/* rows */
.h-1{
  grid-row: span 1;
}

.h-2{
  grid-row: span 2;
}

.h-3{
  grid-row: span 3;
}

.h-4{
  grid-row: span 4;
}

.h-5{
  grid-row: span 5;
}

.h-6{
  grid-row: span 6;
}



/* make responsive gallery */

@media screen and (max-width:750px) {

  .container{
    grid-template-columns: repeat(1,1fr);
  }
  .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
    grid-column: span 1;
  }
  
  
}





/* add animation */
  @keyframes move-down {

    0%{
      top:10%;
    }

    50%{
      top:35%;
    }

    100%{
      top:50%;
    }

  }












  
  
  