
/*============= Google Fonts ============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/* ======= Basic Style ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
   
   
  }

  :root {
    --body-color: #fff;
    --primary-color: rgb(84, 84, 84);
    --secondary-color: #fff;
    --secondary-2-color: #ccc;
    --p-color: rgb(84, 84, 84);
    --input-color: #fbfbfb;
    --input-hover-color: #f0efef;
    --shadow-color: rgba(0, 0, 0, 0.8);
    --border-color: #353535;
    --hover-color:#FFBE98;
    --underline-color:rgb(252,252,252);
    --shadow-pic:0px 10px 20px rgba(0, 0, 0, 0.6);
    --btn-color:#000;
  }

  body{
    background-color: var(--body-color);
  }
  p{
    color: var(--p-color);
  }
  
  /* ===== Style for the header ====== */

 
  .header {
    /* background-color: rgb(252, 252, 252);  */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 6%;
    transition: all 0.5s ease;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); */
   
    
  }
  
  /* --- Logo text styling --- */

  .logo a{
    font-size: 33px;
    font-weight: 700;
    color: var(--primary-color); 
    /* border: 5px solid red; */
  }

  .logo span{
    color: var(--p-color);
  }



  /* logo img */
  /* .logo img{
    height: 70px;
    width: auto;
    
  } */


  /* --- Nav Bar ---*/

  nav{
    
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 5px solid red; */
  }

  
  /* Navigation menu */
  .nav-menu li{
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    margin-right: 2rem;
    
    
  }
  
 
  /* Style for navigation links */
  .nav-link {
    text-decoration: none;
    color: var(--p-color); 
    display: inline-block;
    font-size: 18px;
    transition: color 0.5s ;
    padding: 10px;
  }
  
  /* Hover effect for links */
  .nav-link:hover {
    color: var(--hover-color); 
    
  }

  /* nav button */
  .nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
   }

   /* underline  */
   .underline{
    position: fixed;
    height: 3px;
    background-color: var(--primary-color);
    transition: width 0.2s, background-color 0.5s, transform 0.5s;
    z-index: 1;
    left: 0;
   }
  /* Menu Icon   */
   #menu-icon{
    color: var(--primary-color);
    font-size: 30;
    cursor: pointer;
    z-index: 10001;
    display: none;
   }

   /* ---- stickey Header ---- */
   header.sticky {
    padding: 9px 6%;
    background: transparent;
    backdrop-filter: blur(55px);
    box-shadow: 0 0 10px var(--shadow-color);
   }



  /* Responsive design for smaller screens */
/* @media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px;
    align-items: center; 
    
  }

  .logo {
    margin-bottom: 10px; 
    font-size: 20px;
  }

  .logo img {
    height: 50px; 
  }

  nav {
    
    width: 100%; 
    
  }

  .nav-menu {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100%;
    
    
  }

  .nav-item {
    width: 100%;
    
    padding: 5px 0; 
  
  }

  .nav-link {
    align-items: center; 
    font-size: 16px; 
  }
} */



 


/* 

**** Main Content *****

*/


/* Styles for the main content */
/* main {
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;  
    
  } */

  /* stickey Header */


/* ====== Section ======== */
  section {
    padding-top: 15vh;
    margin: 0 10rem;
    min-height: fit-content;
  }


  #profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 90vh;
  }


    /*---- content containter --- */

    .content-wrapper {
      border: 5px solid orange;
      display: flex;
      justify-content: space-between; 
      align-items: center; 
      gap: 50px;
      width: 100%;  
    }
  


  /* --- Description --- */
  aside {
    margin-right: auto; 
    width: fit-content; 
    margin-left: 10%;
    padding: 20px;
    color:rgb(84, 84, 84) ;
    text-align: center;
    align-self: center;
    margin: auto;
    overflow: auto;
    border: 5px solid green;
    
  }

  .greeting{
   margin-bottom: 15px;
   margin-top: 15px;
  }


  .greeting span {
    background-color:rgb(84, 84, 84);
    color: white;
    padding: 8px 16px;
    border-radius: 18px;
    font-size: 16px;
    font-weight: bold;
    
  }


  aside h1 {
    font-size: 48px; 
    margin-bottom: 0.3em; 
  }

/* animation  typing for info part */
  
  aside p {
    font-size: 24px; 
    margin-bottom: 20px;
    font-weight: 600; 
  }



  .typed {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;

  }
/* typing animation  */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }


  @keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: black}
    100% {border-right-color: transparent}
  }




  /* --- button CSS ------ */


  .button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }


  .btn {
    display: inline-block;
    padding: 12px 24px; 
    font-size: 1em; 
    font-weight: 600; 
    border-radius: 2rem; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    text-decoration: none;
    border: 1px solid var(--border-color);
  }




.btn-work{
  text-decoration: none;
  color: var(--border-color);
}


.btn:hover {
    background-color: var(--border-color); 
    color: var(--body-color);
  }
  
  .btn a:hover {
    
    color: var(--body-color);
  }





/* ---- Social Media ---- */

#socials-container{
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin-top: 1rem;
  gap:10px;
}
/* icon part */

.social-icon{
  color: var(--primary-color);
  border-radius: 50%;
  padding: 5px;
  font-size: 1.8rem;
  cursor: pointer;

}
.social-icon:hover{
  background: var(--secondary-2-color);
  transition: all 0.3s ease;
}
 








/* ---- picture --- */
.profile-container {
    /* border: 5px solid purple;   */
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: auto 0;

}

.profile-pic {
    
    width: 100%;
    border: 5px solid rgb(84, 84, 84); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
    border-radius: 40px; 
    max-width: 70%; 
    height: 100%; 
    float: right;
}










/* Update media query if needed */
/* @media screen and (max-width: 750px) {
    .content-wrapper {
      flex-direction: column; 
    }
  
    aside, .profile-container {
      flex-basis: auto; 
      max-width: 100%; 
    }
  
    
    .profile-pic {
      width: 75%; 
      margin: 0 auto; 
    }
  } */


/* ========== About Section ============ */

#about-section{
  position: relative;
  margin-bottom: 3rem;
}

.section-text, .about-title{
  text-align: center;

}

.about-title{
  font-weight:700;
  font-size: 35px;
  margin-bottom: 2rem;
}

.text-container p{
  font-size: 16px;
  font-weight: 400;

}

.about-pic{
  border-radius: 4.5rem;
  box-shadow:var(--shadow-pic);
  /* width: 100%; */

 

}

.section-container{
  display: flex;
  gap: 4rem;
  height: 80%;
}

.about-details-container{
  display: flex;
  justify-content: center;
  align-items: center;
  

}



/* arrow */
.arrow{
  height: 2rem;
  position: absolute;
  right: -4rem;
  bottom: -1.5rem;
}


 /* ====== Skills section css ======== */

 #skills{
  position: relative;
 }
 .skills-content{
  display: flex;
  justify-content: space-between;
 }

 .skills-text{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
 }

 .skills-title{
  margin-bottom: 8rem;
  font-size: 2.5rem;
 }

 .row-img{
  width: 95%;
  height: 240px;
  cursor: pointer;
  /* border: 3px solid; */

 }
.row-img img{
  height: 50%;
  display: block;
  filter: brightness(80%);
}

.row-img img:hover{
  filter: brightness(90%);
  transform: scale(1.2);
  transition: all 0.3s ease;
}






/* Adjustments for smaller screens */
/* @media (max-width: 768px) {
    .project-header h3 {
        font-size: 5vw; 
    }
} */



/* === project Section css === */
#project{
  position: relative;

}
.about-containers{
  /* border: 5px solid rebeccapurple; */

  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;

}

.details-container{
  /* border: 5px solid red; */

  padding: 1.5rem;
  flex: 1;
  background: #FFFAFA;
  border-radius: 2rem;
  text-align: center;
  box-shadow: var(--shadow-pic);
}

.project-img{
  border-radius: 2rem;
  width: 90%;
  height: 90%;
  filter: brightness(80%);
}

.project-title{
  margin: 1rem;
  color:var(--primary-color) ;
}


.p-icon{
  font-size: 1rem;
  margin-left: 5px;
}


/* ===== Contact Section ====== */


















 

















  /* Skills section */
  /* .skills-section {
    background-color: #f7f7f7;
    padding: 40px 0;
    text-align: center;
    
}

.skills-section h2 {
    font-size: 2rem;
    color: rgb(84, 84, 84);
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.skills-container {
  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
}

.skill-item {
    background-color: #ebebebca;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.skill-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
} */

/* Responsive design for smaller screens */
/* @media screen and (max-width: 750px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skill-item:not(:first-child) {
        margin-top: 10px;
    }
} */











/* ContactMe Section */
/* .contactme-container{
  text-align: center;
  padding: 50px 20px;
  line-height: 1.6;
  font-family: Arial, sans-serif;
  
}

.contactme-content{
  background-color: #ddd; 
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 20px;
  overflow: hidden;

}

.contactme-content img{
  width: 100%;
  height: 100%;
  display: block;
}

.contactme-text{
  text-align: center;
  margin-bottom: 20px;
  
}

.contactme-text p{
  color: rgb(84, 84, 84);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;

} */

/* .button-link {
  text-decoration: none; 
} */

/* .button-link button {

  padding: 15px 30px;
  background-color: rgb(84, 84, 84);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-link button:hover {
  background-color: #FFBE98;
} */











  /* Footer */


  .social-footer {
    flex-shrink: 0; 
    background-color: rgb(84, 84, 84); /* Dark background */
    color: #fff; /* White text color */
    padding: 20px;
    text-align: center; /* Center align items */
    display: flex;
    justify-content: space-between; /* Space out logo and icons */
    align-items: center; /* Align items vertically */
    border: 2px solid wheat;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.social-footer-icons ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px; /* Space between icons */
}

.social-footer-icons li a {
    color: #fff; /* White icon color */
    font-size: 24px; /* Icon size */
    transition: color 0.3s; /* Smooth color transition on hover */
}

.social-footer-icons li a:hover {
    color: #ddd; /* Lighter color on hover */
}

.logo {
    max-width: 150px; /* Maximum logo width */
    height: auto; /* Maintain aspect ratio */
}

.copyright{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;

}

/* footer responsive */

@media (max-width: 750px) {
    .social-footer {
        flex-direction: column; /* Stack items on smaller screens */
        gap: 10px;
    }
}














  
  
  